body{
	background-color: lightblue;
}

.headline{
	color: red;
}
.headline2{
	color: blue;
}

img{
	height:250px;
}

p{
	background-color: cornsilk;
}

* {
	box-sizing: border-box;
}

.img {
	display: flex;
}
