.headline{
	color: red;
}
.headline2{
	color: blue;
}

img{
	/*   width:200px;*/
	height:250px;
}

p{
	background-color: cornsilk;
}


* {
/*		outline: 2px solid silver !important;*/
}

* {
	/*	-webkit-box-sizing: border-box;*/
	/*	-moz-box-sizing: border-box;*/
	/*	-ms-box-sizing: border-box;*/
	box-sizing: border-box;

}

.img {
	display: flex;
}
